<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>メモアプリ</title>
</head>
 
<body>
  <h1>メモアプリ</h1>
  <ul>
    <% @memos[0].each do |id, value| %>
        <a href="/memos/<%="#{id}"%>"<li><%= value["title"] %></li></a>
    <% end %>
  </ul>

  <a href="memos/create">追加</a>
</body>
</html>
