<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>メモアプリ</title>
</head>
 
<body>
  <h1>メモアプリ</h1>
  <p>タイトル</p>
  <%= @memo['title'] %>
  <p>内容</p>
  <%= @memo['contents'] %>
</body>
</html>
